.background {
	z-index:-1;
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(img/lined_paper.png) repeat; 
    width: 100%;
    height: 100%;
    opacity : 0.2;
}